@{
    ViewBag.Title = "Home Page";
    Layout = null;

}
<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My ASP.NET Application</title>

   

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container" ng-controller="mainCtrl">
        <div ng-show="showLogin" style="width: 30%; margin-left: 35% !important; margin-top:10%;" class="form-signin">
            <h2 class="form-signin-heading">Chat Başlat</h2>
            <input ng-model="User.NameSurname" type="text"  class="form-control" placeholder="Ad Soyad" autofocus>
            <br />
            <input ng-model="User.Email" type="text"  class="form-control" placeholder="Email address">
            <br />
            <input ng-model="User.PhoneNumber" type="text" class="form-control" placeholder="Telefon">
            <br />
            <button class="btn btn-lg btn-primary btn-block" ng-click="ChatStart()" type="button">Başlat</button>
        </div>
        <div ng-show="communication.showSurvey" style="width: 30%; margin-left: 35% !important; margin-top:10%;padding: 15px;" class="form-signin">
            <ng-form name="surveyForm">
                <h2>{{communication.survey.Title}}</h2>
                <ul ng-repeat="question in communication.survey.SurveyQuestions | orderBy : Order">
                    <li>
                        <span>{{question.Order}}-{{question.Question}}</span>
                        <ul>
                            <li ng-repeat="answer in question.SurveyAnswers | orderBy: Order">
                                <input type="radio" ng-model="question.SelectedAnswer" value="{{answer.Id}}" name="{{question.Id}}" ng-required="!answer.Selected" />
                                <span>{{answer.Answer}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <button ng-click="sendSurvey(surveyForm)" type="button" class="btn btn-lg btn-primary btn-block">Gönder</button>
            </ng-form>
        </div>
        <div ng-show="communication.showChat" style="width: 30%; margin-left: 35% !important; margin-top:10%;padding: 15px;" class="form-signin">
            <h2>Hoş geldiniz.</h2>
            <ul style="list-style:none; padding:10px; height:175px; overflow-y: scroll; overflow-x: hidden;  border: 1px solid rgb(228, 228, 228); border-radius: 5px;">
                <li ng-repeat="msg in messages"><span style="color:blue"> {{msg.NameSurname}} :</span> {{msg.Message}}</li>
            </ul>
            <textarea ng-keypress="EnterSend($event.keyCode)" class="form-control" placeholder="Mesajınız..." ng-model="User.Message"></textarea>
            <br />
            <button class="btn btn-lg btn-primary btn-block" ng-click="sendMessage()" type="button">Gönder</button>
        </div>
    </div>


    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.1.2.js"></script>

    <script src="~/Scripts/Chat/app.js"></script>
    <script src="~/Scripts/Chat/clientHub.js"></script>

    @*<script src="~/Scripts/Chat/ChatService.js"></script>*@
    <script src="/Scripts/Chat/broadcastService.js"></script> 
    <script src="/Scripts/Chat/signalR.js"></script>
    <script src="/Scripts/Chat/communicationHub.js"></script>
    <script src="/Scripts/Chat/broadcastHub.js"></script>
    <script src="http://localhost:1581/signalr/hubs"></script>
    <script src="/Scripts/Chat/ChatController.js"></script>
</body>
</html>


